@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css");

/* Clickability fix for selector on sm devices */
@media (min-width: 768px) and (max-width: 991px) {
  article h1:first-of-type:before {
    height: 0;
    margin-top: 0;
  }
}

@media (min-width:970px) {
    #wrapper {
        width: 970px;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .article > .col-md-10 {
        width: 100%;
    }
}

#search {
  border: none;
}

.fa-code {
  font-size: 19px;
}

.sidetoc,
body .toc,
.sidefilter,
.sidetoggle {
	color: #e8e6e3;
    background-color: rgb(38, 42, 43);
}

.sidenav, .fixed_header, .toc {
    background-color: rgb(38, 42, 43);
}

.sidefilter {
    border-left: none;
    border-right: none;
    padding: 10px;
    top: 65px;
}

.sidetoc {
	border-top:3px double rgb(79, 90, 96);
	padding: 5px;
	margin: 0;
	padding: 0;
	color: #000000;
	line-height: 1.3em;
	font-size:95%;
    border-left: none;
    border-right: none;
    top: 105px;
}

.sidetoc.shiftup {
    bottom: 50px;
}

.expand-stub {
}

.toc .nav > li.active > .expand-stub::before, .toc .nav > li.in > .expand-stub::before, .toc .nav > li.in.active > .expand-stub::before, .toc .nav > li.filtered > .expand-stub::before {
    content: "▶";
    padding-bottom: 5px;
}
.toc .nav > li > .expand-stub::before, .toc .nav > li.active > .expand-stub::before {
    content: "▪";
}

body {
	position: relative;
	height: 100%;
	padding: 0;
	margin: 0;
	height: 100%;
	color: #e8e6e3;
	background-color: rgb(24, 26, 27);
	background-image: url("image/background.png");
	background-position: left top;
	background-repeat: repeat-y;
	line-height: 1.3em;
	font-family: sans-serif, MS UI Gothic;
}

.article {
    margin-top: 50px;
    margin-bottom: 50px;
}

.grid-right > div > .content {
    margin-top: -10px;
}

@media only screen and (min-width: 768px) {
    .article.grid-right {
        margin-left: 245px;
        margin-right: -15px;
        /* border: 10px solid rgb(52, 57, 59); */
    }
}

.form-control {
    height: 20px;
    border-radius: 0px;
    background-color: #000;
    color: #e8e6e3;
    border: none;
}

.toc-filter {
    border-radius: 0px;
    padding: 0px;
}

.toc-filter > input {
    padding-left: 5px;
    padding-right: 5px;
    background: #000000;
    color: #e8e6e3;
}

.toc-filter > .filter-icon {
    visibility: hidden;
}

a:link, .toc .nav > li > a:link {
	text-decoration: none;
    color: rgb(164, 194, 244);
}
a:visited, .toc .nav > li > a:visited {
	text-decoration: none;
	color: #99E;
}
a:hover, .toc .nav > li > a:hover {
	text-decoration: underline;
	color: rgb(116, 166, 255);
}
a:active, .toc .nav > li > a:active {
	text-decoration: underline;
	color: rgb(116, 166, 255);
}

pre {
	border:1px dashed #666699;
}
code {
    font-family: Consolas, Monaco, monospace;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
	background-color: #303030;
}
.table-striped > tbody > tr:nth-of-type(2n) {
	background-color: #1E1E1E;
}

.table-bordered, .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
  border: 1px dotted #ccc;
}

.footer {
    border-top: 1px solid #464646;
    background-color: #222;
}

footer {
    opacity: 100% !important;
}

dl {
	margin-left:1em;
}
dt {
	border-style: none none none solid;
	border-left: 10px solid #ccccff;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 4px;
	padding-left: 3px;
}
dd {
	margin-bottom: 1px;
	margin-top: 1px;
	padding-left: 0.5em;
	border-left: 1px solid ##b4b4f2;
}
dd dt {
	border-color:#ccffcc;
}
dd dd {
	border-color:#ccffcc;
}
h1 {
	background-color: rgb(71, 78, 97);
	font-size: x-large;
	font-weight: bold;
	color: #ffffff;
	padding: 10px;
}
h2 {
	border-style: none none solid solid;
	border-left: 12px solid #4f4f68;
	border-bottom: 1px solid #4f4f68;
	font-size: large;
	font-weight: bold;
	padding-left: 6px;
	padding-bottom: 2px;
	padding-top: 2px;
	background-color: #3e3e60;
	margin-bottom: 10px;
}
h3 {
	border-bottom: 1px dashed #b4b4f2;
	font-size: medium;
	font-weight: bold;

  /* border-left: 10px solid #ccccff; */
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 8px;
  padding-left: 2px;
  padding-bottom: 1px;
}
h3:before {
    content: "⊿";
    padding-right: 2px;
    color: #b4b4f2;
}
.article h4 {
	font-size: 15px;
    padding-left: 6px;
	border-left: 4px solid #b4b4f2;
    border-bottom: 1px dotted #b4b4f2;
}
h5 {
    padding-left: 4px;
}
h5:before {
    content: "▎";
    margin-right: -2px;
    color: #b4b4f2;
}

.anchorjs-link {
    margin-left: -1.8em !important;
}

article span.small.pull-right {
  margin-top: 6px;
}

.inheritance .level0::before, .inheritance .level1::before, .inheritance .level2::before, .inheritance .level3::before, .inheritance .level4::before, .inheritance .level5::before, .inheritance .level6::before, .inheritance .level7::before, .inheritance .level8::before, .inheritance .level9::before {
    content: '┗';
    margin-right: 5px;
    color: #aaa;

}
.decalaration, .fieldValue, .parameters, .returns {
  color: #aaa;
}

.parametername, .status {
    color: #b3d8ff;
}

div {
	margin: 0;
	padding: 0;
	font-size: 100%;
}
blockquote {
    background-color: rgb(34, 36, 38);
    border-left: 5px solid #909090;
    margin: 10px 0px 10px 0px;
    font-size: 15px;
    padding: 12px 18px;
    color: #CCC;
}

.inheritance h5, .inheritedMembers h5{
  padding-bottom: 5px;
  border-bottom: 1px solid #666;
}

.sidenav,
.toc-toggle {
  padding: 0;
}

.sidetoggle {
  padding-bottom: 15px;
}

.navbar {
    min-height: 0px;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0px;
    }
}

.navbar-brand {
    display: none;
}
.navbar-nav {
    margin: 4px 0px 0px 0px;
}

.navbar-nav > li > a {
    padding-top:5px;
    padding-bottom:5px;
    line-height:20px
}
@media (min-width:768px) {
    .navbar-nav>li>a {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.breadcrumb {
    padding: 4px 0;
}

/* Remove center align from Navbar and Collapsible section */
.collapse.in,
.collapsing {
  text-align: unset;
}

article h4 {
  border-bottom: none;
  margin-top: 1.2em;
}

@media (min-width: 768px) {
  .sidetoc, .sidefilter {
    margin-left: -15px;
  }
}

@media (max-width: 767px) {
  .navbar-collapse {
    text-align: center !important;
  }

  .navbar-collapse li .active {
    border-radius: 20px;
  }
}

/* Collapsible Sections
   ------------------------------------------------------- */
.expander:after {
    font-family: 'Glyphicons Halflings';
    content: "\e260";
    margin-left: 5px;
    color: grey;
    font-size: small;
}

.expander.collapsed:after {
    content: "\e259";
}

/* Floating buttons
   ------------------------------------------------------- */
.fab {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 11px 0 0 0;
    border: none;
    outline: none;
    color: #FFF;
    border-radius: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition:.3s;
}

.fab:hover {
    transform: scale(1.1);
}

.fab + .fab {
  margin-right: 15px;
}

.contribution-panel {
    z-index: 1000;
    position: fixed;
    right: 30px;
    top: 41px;
}

/* Bootstrap docs like sidebar
   ------------------------------------------------------- */
.affix h5 {
  display: none;
}

/* active & hover links */
.affix ul > li > a:hover,
.affix ul > li.active > a,
.affix ul > li > a:focus {
  color: #563d7c;
  text-decoration: none;
  background-color: transparent;
  border-left-color: #563d7c;
}

/* all active links */
.affix ul > li.active > a,
.affix ul > li.active:hover > a,
.affix ul > li.active:focus >a {
    font-weight: 700;
}

/* nested active links */
.affix ul ul > li.active > a,
.affix ul ul > li.active:hover > a,
.affix ul ul > li.active:focus > a {
    font-weight: 500;
}

/* all links */
.affix ul > li > a {
  color: #999;
  border-left: 2px solid transparent;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: 400;
}

/* nested links */
.affix ul ul > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
}

/* hide inactive nested list */
.affix ul ul {
  display: none;
}

/* show active nested list */
.affix ul > li.active > ul {
  display: block;
}

.affix > ul > li > a:before {
  content: '';
}

.affix ul ul > li > a:before {
  content: '';
}

/* Navbar Hamburger
   ------------------------------------------------------- */
.icon-bar {
    transition: 0.4s;
}

/* Rotate first bar */
.change .icon-bar:nth-of-type(2) {
    transform: rotate(-45deg) translate(-4px, 5px) ;
}

/* Fade out the second bar */
.change .icon-bar:nth-of-type(3) {
    opacity: 0;
}

/* Rotate last bar */
.change .icon-bar:nth-of-type(4) {
    transform: rotate(45deg) translate(-4px, -5px) ;
}

.navbar-default {
    color: rgb(232, 230, 227);
    background-color: rgb(42, 45, 47);
    border-color: rgb(62, 68, 70);
}

/* Custom Navbar
   ------------------------------------------------------- */
.navbar-inverse {
  opacity: 0.95;
  color: rgb(232, 230, 227);
  background-color: rgb(82, 97, 106);
}
.navbar-inverse .navbar-brand {
  color: #ffffff;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #ecdbff;
}
.navbar-inverse .navbar-text {
  color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ecdbff;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #ecdbff;
  background-color: rgb(82, 97, 106);
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #ecdbff;
  background-color: rgb(82, 97, 106);
}
.navbar-inverse .navbar-toggle {
  border-color: rgb(82, 97, 106);
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: rgb(82, 97, 106);
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border: none;
}
.navbar-inverse .navbar-link {
  color: #ffffff;
}
.navbar-inverse .navbar-link:hover {
  color: #ecdbff;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecdbff;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    /* color: #ecdbff; */
    /* background-color: #02735f; */
  }
}

/*
 * Visual Studio 2015 dark style
 * Author: Nicolas LLOBERA <nllobera@gmail.com>
 */

code {
    background: #333333;
  color: #DCDCDC;
}

pre, .hljs {
  background: #1E1E1E;
  color: #DCDCDC;
}

.hljs-keyword,
.hljs-literal,
.hljs-symbol,
.hljs-name {
  color: #569CD6;
}
.hljs-link {
  color: #569CD6;
  text-decoration: underline;
}

.hljs-built_in,
.hljs-type {
  color: #4EC9B0;
}

.hljs-number,
.hljs-class {
  color: #B8D7A3;
}

.hljs-string,
.hljs-meta .hljs-string {
  color: #D69D85;
}

.hljs-regexp,
.hljs-template-tag {
  color: #9A5334;
}

.hljs-subst,
.hljs-function,
.hljs-title,
.hljs-params,
.hljs-formula {
  color: #DCDCDC;
}

.hljs-comment,
.hljs-quote {
  color: #57A64A;
  font-style: italic;
}

.hljs-doctag {
  color: #608B4E;
}

.hljs-meta,
.hljs-meta .hljs-keyword,

.hljs-tag {
  color: #9B9B9B;
}

.hljs-variable,
.hljs-template-variable {
  color: #BD63C5;
}

.hljs-attr,
.hljs-attribute {
  color: #9CDCFE;
}

.hljs-section {
  color: gold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

/*.hljs-code {
  font-family:'Monospace';
}*/

.hljs-bullet,
.hljs-selector-tag,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #D7BA7D;
}

.hljs-addition {
  background-color: #144212;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #600;
  display: inline-block;
  width: 100%;
}
